<div class="row justify-content-center">
  <div class="col-10">
    <div id="viewer" class="spreads h-100 w-100" data-book-path="<%=j rails_blob_path(@document.file, disposition: 'attachment') -%>.epub"></div>
  </div>
</div>
