<div class="row justify-content-center mt-3">
  <div class="col-10">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <%= form_with(url: book_merge_path(@book), method: :post) do |f| %>
          <div class="form-group">
            <%= f.label :duplicate_book_id, "Select duplicated book" %>

            <%= f.select :duplicate_book_id, [], {}, { class: "form-control ac-select2", data: { url: book_merge_path(@book) }} %>
          </div>

        <div class="form-group">
            <%= f.submit class: "btn btn-secondary float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
