<div class="row justify-content-center mt-3">
  <div class="col-10">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <%= form_with(url: books_path, method: :post) do |f| %>

          <div class="form-group">
            <div><%= f.label(:books, "Select files") %></div>
            <%= f.file_field(:books, multiple: true) %>
          </div>

          <div class="form-group">
            <%= f.submit class: "btn btn-secondary float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
