<div class="row justify-content-center">
  <div class="col-10">
    <div class="mt-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5 class="card-title">
            <span>
              <%= @book.title %>
            </span>
            <span class="float-right">
              <% if policy(Collection).edit? %>
                <%= link_to octicon("repo-clone", fill: "currentcolor"),
                edit_book_collection_path(@book),
                remote: true, title: "Manage collections", class: "btn btn-secondary" %>
              <% end %>

              <% if policy(@book).edit? %>
                <%= link_to octicon("pencil", fill: "currentcolor"),
                  edit_book_path(@book), title: "Edit", class: "ml-3 btn btn-secondary" %>

                <%= link_to octicon("git-merge", fill: "currentcolor"),
                   new_book_merge_path(@book), title: "Merge with another book", class: "ml-3 btn btn-secondary" %>
              <% end %>

              <% if policy(@book).destroy? %>
                <%= link_to octicon("flame", fill: "currentcolor"),
                  book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, title: "Remove", class: "ml-3 btn btn-secondary" %>
              <% end %>
            </span>
          </h5>

          <h6 class="card-subtitle">by <%= @book.author_names %> - <%= @book.isbn %></h6>
          <p class="card-text small"><%= @book.summarization %></p>
        </div>
        <div class="card-footer">
          <%= @book.tag_badges %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-10">
    <div class="row row-cols-1 row-cols-md-3">
      <% @book.each_document do |document| %>
        <div class="col mb-4">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <h6 class="card-title"><%= document.version_type %> version - <small>updated on <%= document.updated_on %></small></h6>
              <div class="row">
                <%= document.view_in_browser_link %>
                <%= document.download_document_link %>
                <%= document.convert_document_link(current_user) %>
                <%= document.split_document_link(current_user) %>
                <%= document.send_to_kindle_link(current_user) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
