<%= bootstrap_form_with(model: story, local: true) do |form| %>
  <% if story.persisted? %>
    <%= form.text_field :title %>
    <%= form.text_area :description %>
    <%= form.select :tags, story.tags, {}, { class: "form-control select2-tags-input", multiple: true } %>

  <% else %>
    <%= form.text_field :url %>
  <% end %>

  <%= form.submit class: "btn btn-secondary float-right" %>
<% end %>
