<%= render('form', story: @story) %>

<div class="form-group mt-5">
  <p>Or send it in an email to your custom address:</p>
  <%= text_field_tag(:email, current_user.subscription_email, class: "form-control") %>
  <p>Please keep this address private, because anyone can submit stories as you with it.</p>
</div>
