<div class="card text-white bg-dark">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-center">
      <div class="flex-grow-1">
        <h5 class="card-title text-wrap text-break"><%= story.title_link %></h5>
        <div class="card-subtitle">
          <div class="d-flex align-items-center">
            <% if story.favicon.attached? %>
              <div class="og-favicon" style="background-image: url('<%= url_for(story.favicon) %>');"></div>
            <% end %>
            <div class="text-wrap text-break"><%= story.domain %></div>
          </div>
        </div>
        <p class="card-text small text-wrap text-break" title="<%= story.description %>" ><%= story.summarization %></p>
      </div>

      <% if story.picture.attached? %>
        <div class="flex-shrink-0 mr-2">
          <div style="width: 80px; height: 100%; background-size: contain; background-repeat: no-repeat; background-image: url('<%= url_for(story.thumbnail) %>');"></div>
        </div>
      <% end %>

      <div>
        <div class="row mb-2">
          <%= link_to octicon("eye", fill: "currentcolor"),
                story_path(story), class: "ml-3 btn btn-secondary" %>
        </div>
        <div class="row">
          <%= link_to octicon("pencil", fill: "currentcolor"),
                edit_story_path(story), class: "ml-3 btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-row justify-content-center">
      <div class="flex-grow-1">
        <%= story.tag_badges %>
      </div>
      <dir class="card-text small flex-shrink-0 text-wrap text-break">
        Updated <%= story.last_updated_at %> ago
      </dir>
    </div>
  </div>
</div>
