<div class="row justify-content-center">
  <div class="col-8">
      <%= form_with url: stories_path, method: :get, local: true do |f| %>
       <div class="form-group mt-3">
        <%= f.search_field :q, value: params[:q], class: "form-control form-control-lg", placeholder: "Search", autofocus: autofocus_search_input?, aria: { label: "Search" } %>
        <%= f.submit "Search", class: "d-none" %>
        </div>
      <% end %>
  </div>
</div>

<% if @stories.any? %>
  <% @stories.each_slice(2) do |stories| %>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card-deck mt-3">
          <%= render partial: "story", collection: stories, as: :story %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= paginate @stories %>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="placeholder">There are no stories yet. But you can <%= link_to 'add', new_story_path %> a new one</p>
    </div>
  </div>
<% end %>
