<div class="row justify-content-center">
  <div class="col-10">
    <div class="mt-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5 class="card-title">
            <span>
              <%= @story.title %>
            </span>
            <span class="float-right">
              <%= link_to octicon("pencil", fill: "currentcolor"),
                  edit_story_path(@story), class: "ml-3 btn btn-secondary" %>
            </span>
          </h5>

          <div class="card-subtitle">
            <div class="d-flex align-items-center">
              <div class="og-favicon" style="background-image: url('<%= url_for(@story.favicon) %>');"></div>
              <div class="text-wrap text-break"><%= @story.title_link %></div>
            </div>
          </div>
          <h6 class="card-subtitle mt-2">

          </h6>
          <p class="card-text small"><%= @story.summarization %></p>
        </div>
        <div class="card-footer">
          <%= @story.tag_badges %>
        </div>
      </div>
    </div>
  </div>
</div>
