@import "bootstrap";
@import "rails_bootstrap_forms";

.tag-xxs {
  font-size: 0.8rem;
}

.tag-xs {
  font-size: 0.9rem;
}

.tag-sm {
  font-size: 1.0rem;
}

.tag-md {
  font-size: 1.1rem;
}

.tag-lg {
  font-size: 1.2rem;
}

.tag-xl {
  font-size: 1.3rem;
}

.tag-xxl {
  font-size: 1.4rem;
}

